body{
	background-color:#cceeff;
	color:black;
	font-size: 16px;
	font-family:arial;

}
/**header**/

#header-nav{
	background-color:#800000;
	border-radius: 0;
    border: 0;
    
}
.navbar{
	min-height:100px;
}

.navbar-brand h1{
	color: black;
	font-size:2em;
	text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
}

.navbar-brand a:hover,.navbar-brand a:focus {
	text-decoration: none;
}
.navbar-toggle,.navbar-brand .icon-bar {
  border:3px solid black;
 /* background color:black;*/
  vertical-align: center;
  margin-top: 35px;
  margin-right:30px;
}
.list-names{
	text-align: center;
	background-color:white;
	font-weight: bold;
	font-size:1.5em;
	text-transform: uppercase;
	border: 1px solid black;
}
#nav-list{
	text-align: center;
}

/** styling for our menu**/
h2.menu{
	color: black;
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #222;
}

.headings h3{
	font-size:1.5em;
	font-weight:bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #222;
}
.content{
	background-color: #006699;
	color: black
}